body {
    font-family: san-serif;
    display: flex;
    justify-content: center;
}
svg {
    height: 140px;
    width: 200px;
}

svg path {
    /* ALL STROKES APPEAR. */
    /* stroke-dasharray: 0; */
    /* stroke-dashoffset: 0; */

    /* ALL STROKES APPEAR. */
    /* stroke-dasharray: 208;
    stroke-dashoffset: 0; */

    /* ALL STROKES APPEAR. */
    /* stroke-dasharray: 0;
    stroke-dashoffset: 208; */

    /* NO STROKES APPEAR. */
    stroke-dasharray: 208;
    stroke-dashoffset: 208;
    /* FORWARDS KEEPS THE STROKES ON SCREEN. */
    animation: draw 10s forwards;
}

@keyframes draw {
    /* to { */
        /* WILL MAKE ALL STROKES APPEAR. */
        /* stroke-dashoffset: 0; */
    /* } */
    0% {stroke-dashoffset: 208;}
    10% {stroke-dashoffset: 187;}
    20% {stroke-dashoffset: 166;}
    30% {stroke-dashoffset: 146;}
    40% {stroke-dashoffset: 125;}
    50% {stroke-dashoffset: 104;}
    60% {stroke-dashoffset: 83;}
    70% {stroke-dashoffset: 62;}
    80% {stroke-dashoffset: 42;}
    90% {stroke-dashoffset: 21;}
    100% {stroke-dashoffset: 0;}

}