body {
    font-family: san-serif;
    display: flex;
    justify-content: center;
}
svg {
    height: 140px;
    width: 200px;
}

svg path {
    /* ALL STROKES APPEAR. */
    /* stroke-dasharray: 0; */
    /* stroke-dashoffset: 0; */

    /* ALL STROKES APPEAR. */
    /* stroke-dasharray: 208;
    stroke-dashoffset: 0; */

    /* ALL STROKES APPEAR. */
    /* stroke-dasharray: 0;
    stroke-dashoffset: 208; */

    /* NO STROKES APPEAR. */
    stroke-dasharray: 208;
    stroke-dashoffset: 208;
    /* FORWARDS KEEPS THE STROKES ON SCREEN. */
    animation: draw 5s forwards;
}

@keyframes draw {
    to {
        /* WILL MAKE ALL STROKES APPEAR. */
        stroke-dashoffset: 0;
    }
}